<div class="social">
  <div class="contact-icons">
    {% for entry in site.data.socials %}
      <a href="{{ entry.url }}" title="{{ entry.title }}">
        {% if entry.icon contains 'fa' or entry.icon contains 'ai' %}
          <i class="{{ entry.icon }} contact-icon"></i>
        {% else %}
          <img class="contact-icon" src="{{ entry.icon | relative_url }}" alt="{{ entry.name }}">
        {% endif %}
      </a>
    {% endfor %}
  </div>

  <div class="contact-note">
    {{ site.contact_note }}
  </div>
</div>
